#app-info-container {
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 5px;
	position: relative;
	float: left;
}

#app-info-container .content {
	height: 250px;
	overflow: auto;
}

#app-info-container .action {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	clear: both;
}

#wrapper-inner {
	position: relative;
}

#winMask {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	z-index: 996;
	visibility: hidden;
}
.share-community .ui-widget-content .item {
	float:left;
	margin : 0 auto;
	
}